.ipynb_checkpoints/
.Trash-0/
*.bp
*.pvsm
*.avi
__pycache__
meshes

# carpetas con nombre tipo fecha (e.g., "2025-04-12")
[0-9][0-9][0-9][0-9]?**/
results/
.devcontainer/
.dockerignore
fenicsx.sif
vascusynth.sif
*.gz